html, body {
	height: 100%;
}

img { max-width: 100% }


.wrapper {
	min-height: 100%;
}
footer.footer {
	padding: 1rem 0;
	color: #999;
	text-align: center;
	background-color: #f9f9f9;
	border-top: .05rem solid #e5e5e5;
}

/* Image Buttons */
.icons-stats {
	display: inline-block;
	background-image: url(../../include/templates/_gfx/stats.png);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
}

.icon-stats {
	background-position: 0 0;
}

.icon-clock {
	background-position: -16px 0;
}

.icon-kicks {
	background-position: -32px 0;
}

.icons-func {
	display: inline-block;
	background-image: url(../../include/templates/_gfx/functions.png);
	background-repeat: no-repeat;
	width: 15px;
	height: 17px;
	cursor: pointer;
	margin: 0;
}

.icon-view {
	background-position: 0 0;
}

.icon-edit {
	background-position: -15px 0;
}

.icon-delete {
	background-position: -30px 0;
}

.icon-email {
	width: 16px;
	background-position: -45px 0;
}

.icon-download {
	background-position: -61px 0;
}

.icons-connect {
	display: inline-block;
	background-image: url(../../include/templates/_gfx/connect.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 15px;
	cursor: pointer;
	margin: 0;
}

.icon-steam {
	background-position: 0 0;
}

.icon-hlsw {
	background-position: -80px 0;
}

.icons-page {
	display: inline-block;
	background-image: url(../../include/templates/_gfx/pagenation.png);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
}

.icon-left-valid {
	background-position: 0 0;
	cursor: pointer;
}

.icon-left-notvalid {
	background-position: -32px 0;
}

.icon-left-end {
	background-position: -64px 0;
	cursor: pointer;
}

.icon-right-valid {
	background-position: -16px 0;
	cursor: pointer;
}

.icon-right-notvalid {
	background-position: -48px 0;
}

.icon-right-end {
	background-position: -80px 0;
	cursor: pointer;
}

.icon-access {
	display: inline-block;
	background-image: url(../_gfx/access.png);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	cursor: pointer;
	margin: 0;
}