body {
	font-family: verdana, tahoma, arial, serif;
	font-size: 15px;
}

fieldset {
	border: 1px dotted gray;
	border-radius: 5px;
}

legend {
	width: auto;
	margin: 0;
	margin-left: 15px;
	font-size: 1.25rem;
	background: transparent;
	padding: 0 5px;
}